body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
p {
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 24px;
}
a {
	text-decoration: none!important;
	color: #7532f1;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}


ul.social-icons li {
	display: inline-block;
	margin-right: 3px;
}

ul.social-icons li:last-child {
	margin-right: 0px;
}

ul.social-icons li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	background-color: #eee;
	color: #121212;
	font-size: 18px;
	text-align: center;
	transition: all .3s;
}

ul.social-icons li a:hover {
	background-color: #7532f1;
	color: #fff;
}

a.filled-button {
	background-color: #7532f1;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

.section-heading {
	color: #000000;
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
}

.section-heading h2 {
	font-size: 28px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 15px;
}

.page-heading {
	
	padding: 210px 0px 130px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading .text-content h4 {
	color: #7532f1;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.summary{
	font-size: 16px;
	color: #4d4a4a;
}

/* Header Style */
header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 80px;
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 17px 0px;
}
.background-header .navbar {
	padding: 17px 0px;
}
.background-header {
	top: 0;
	position: fixed;
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
	color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
	color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #7532f1!important;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #7532f1;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #fff;
	padding-bottom: 25px;
	border-bottom: 3px solid #7532f1;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: #fff;
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #7532f1;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}
/* BANNER */
.banner {
	position: relative;
	text-align: center;
}

.banner-item{
	background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
	color: #fff;
	min-height: 650px;
	padding-top: 12rem;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.banner-dashboard{
	background-image: url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
	color: #fff;
	min-height: 650px;
	padding-top: 12rem;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}


/* SHOWCASE */
.home-search {
	  min-height: 400px;
	  position: relative;
	  border-radius: 5px; }
#showcase-info{
	font-weight: 600;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#showcase-inner {
	position: relative;
	overflow: hidden;
	min-height: 200px; }
	#showcase-inner::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-height: 100%;
	  width: 100%;
	 }
	#showcase-inner.showcase-search {
	  min-height: 270px; }
	  
.btn-secondary{
	background-color: #7532f1;
	border-color: #7532f1;
	padding-bottom: -5px;
}
.btn-secondary:hover{
	background-color: #121212;
	border-color: #121212;
}
/* Latest Produtcs */

.latest-products {
	margin-top: 100px;
}

.section-heading a {
	float: right;
	margin-top: -35px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #7532f1;
}

.product-item {
	border: 1px solid #eee;
	margin-top: 30px;
	margin-bottom: 30px; 
}

.product-item .down-content {
	padding: 30px;
	position: relative;
}

.product-item img {
	width: 100%;
	overflow: hidden;
}

.product-item .down-content h4 {
	font-size: 17px;
	color: #7532f1;
	margin-bottom: 20px;
}

.product-item .down-content h6 {
	font-size: 18px;
	margin-bottom: 15px;
	color: #121212;
}

.product-item .down-content h6 small{
	color: #999;
}

.product-item .down-content p {
	margin-bottom: 20px;
}

.modal-dialog { 
	margin-top: 10%; 
} 

/* Best Features */

.about-features {
	
	margin-top: 100px!important;
}

.about-features p {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.about-features .container .row {
	padding-bottom: 0px!important;
	border-bottom: none!important;
}

.best-features {
	color: #000000;
	margin-top: 50px;
}

.best-features .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}

.best-features img {
	width: 100%;
	overflow: hidden;
}

.best-features h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.best-features ul.featured-list li {
	color: #000000;
	display: block;
	margin-bottom: 10px;
}

.best-features p {
	color: #000000;
	margin-bottom: 25px;
}

.best-features ul.featured-list li a {
	font-size: 14px;
	color: #000000;
	font-weight: 300;
	transition: all .3s;
	position: relative;
	padding-left: 13px;
}

.best-features ul.featured-list li a:before {
	content: '';
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #000000;
	position: absolute;
	left: 0;
	transition: all .3s;
	top: 8px;
}

.best-features ul.featured-list li a:hover {
	color: #7532f1;
}

.best-features ul.featured-list li a:hover::before {
	background-color: #7532f1;
}

.best-features .filled-button {
	margin-top: 20px;
}


/* Call To Action */

.call-to-action .inner-content {
	margin-top: 60px;
	padding: 30px;
	background-color: #f7f7f7;
	border-radius: 5px;
}

.call-to-action .inner-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 15px;
}

.call-to-action .inner-content em {
	font-style: normal;
	font-weight: 700;
}

.call-to-action .inner-content .col-md-4 {
	text-align: right;
}

.call-to-action .inner-content .filled-button {
	margin-top: 12px;
}




/* Footer */

footer {
	text-align: center;
}

footer .inner-content {
	border-top: 1px solid #eee;
	margin-top: 60px;
	padding: 60px 0px;
}

footer .inner-content p {
	text-transform: uppercase;
}

footer .inner-content p a {
	color: #7532f1;
	margin-left: 3px;
}




/* Product Page */

.products {
	margin-top: 100px;
}

.products .filters {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.products .filters li {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #121212;
	display: inline-block;
	margin: 0px 10px;
	transition: all .3s;
	cursor: pointer;
}

.products .filters ul li.active,
.products .filters ul li:hover {
  color: #7532f1;
}

.dropdown-menu { 
	border-radius: 0;
}

.dropdown-item { 
	padding: .5rem 1.5rem; 
}

.page-heading {
	position:relative;
}
.page-heading:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,.7);
}
.page-heading .container {
	position:relative;
	z-index: 2;
}
.products ul.pages {
	margin-top: 30px;
	text-align: center;
}

.products ul.pages li {
	display: inline-block;
	margin: 0px 2px;
}

.products ul.pages li a {
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	font-size: 15px;
	font-weight: 700;
	color: #121212;
	transition: all .3s;
}

.products ul.pages li a:hover,
.products ul.pages li.active a {
	background-color: #7532f1;
	border-color: #7532f1;
	color: #fff;
}


/* Services */

.services {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;
}

.services .section-heading h2 { 
	color: #fff; 
}

.service-item {
	text-align: center;
	margin-bottom: 30px;
}

.service-item .icon {
	background-color: #f7f7f7;
	padding: 40px;
}

.service-item .icon i {
	width: 100px;
	height: 100px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	background-color: #7532f1;
	color: #fff;
	font-size: 32px;
}

.service-item .down-content {
	background-color: #fff;
	padding: 40px 30px;
}

.service-item .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.service-item .down-content h6 { 
	margin-bottom: 15px;
}

.service-item .down-content p {
	margin-bottom: 25px;
}

.services-item-image { 
	display: block; 
}

.n-m { 
	margin: 0!important; 
}

.owl-clients button.owl-dot { 
	background: #f1f1f1!important; 
	width: 10px!important; 
	height: 10px!important; 
	margin: 0 10px!important; 
	border-radius: 50%;
}

.owl-clients button.owl-dot.active { 
	background: #7532f1!important; 
}

/* Clients */

.happy-clients {
	margin-top: 100px;
	margin-bottom: 40px;
}

.happy-clients .client-item img {
	max-width: 100%;
	overflow: hidden;
	transition: all .3s;
	cursor: pointer;
}

.client-item h6 { 
	line-height: 1.6;  
}

.happy-clients .client-item img:hover {
	opacity: 0.8;
}




/* Find Us */

.find-us {
	margin-top: 100px;
}

.find-us p {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.find-us h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.find-us .left-content {
	margin-left: 30px;
}



/* Send Message */

.send-message {
	margin-top: 100px;
}

.contact-form select,
.contact-form .form-control {
	font-size: 14px;
	width: 100%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form select:focus,
.contact-form .form-control:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form textarea {
	font-size: 14px;
	width: 100%;
	min-width: 100%;
	min-height: 120px;
	height: 120px;
	max-height: 180px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form textarea:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form button.filled-button {
	background-color: #7532f1;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.contact-form button.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

.accordion {
	margin-left: 30px;
}

.accordion a {
	cursor: pointer;
	font-size: 17px;
	color: #1a6692!important;
	margin-bottom: 20px;
	transition: all .3s;
}

.accordion a:hover {
	color: #7532f1!important;
}

.accordion a.active {
  color: #7532f1!important;
}

.accordion li .content {
  display: none;
  margin-top: 10px;
}

.accordion li:first-child {
	border-top: 1px solid #eee;
}

.accordion li {
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
}

.section-background { 
	background: #f1f1f1; 
}

.section {
	padding: 30px 0;
}

.section p {
	margin-bottom: 15px;
}

.section .section-heading {
	margin-bottom: 45px;
}


/* Responsive Style */
@media (max-width: 576px) {
#showcase{
	position: relative;
	min-height: 750px; }}

@media (max-width: 768px) {
	#showcase {
		padding-top: 9rem; }
		#showcase h1 {
		  font-size: 40px; }
		#showcase p {
		  display: none; }

	.banner .text-content {
		width: 90%;
		margin-left: 5%;
	}
	.banner .text-content h4 {
		font-size: 22px;
	}

	.banner .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.banner-item-01,
	.banner-item-02,
	.banner-item-03 {
		padding: 180px 0px;
	}
	.page-heading .text-content h4 {
		font-size: 22px;
	}

	.page-heading .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.section-heading a {
		float: none;
		margin-top: 0px;
		display: block;
		margin-bottom: 20px;
	}
	.product-item .down-content h4 {
		margin-bottom: 20px!important;
	}
	.best-features .left-content {
		margin-bottom: 30px;
	}
	.call-to-action .inner-content {
		text-align: center;
	}
	.call-to-action .inner-content .filled-button {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}
	.about-features img {
		margin-bottom: 30px;
	}
	.service-item {
		margin-bottom: 30px;
	}
	.find-us #map {
		margin-bottom: 30px;
	}
	.find-us .left-content {
		margin-left: 0px;
	}
	.send-message .accordion {
		margin-top: 30px;
		margin-left: 0px;
	}
}

@media (max-width: 992px) {
	#showcase {
		padding-top: 8rem; }
  #showcase h1 {
		  font-size: 40px; }
	  .hide-md-down {
	display: none; } 

	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 32px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #7532f1!important;
		border-bottom: none!important;
		padding-bottom: 15px;
	}
	.product-item .down-content h4 {
		margin-bottom: 10px;
	}
	.product-item .down-content h6 {
		margin-bottom: 20px;
	}
}