{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgencyVerse | {% block title %} {% endblock %} </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

</head>
<body>
    <!-- NavBar -->
    {% include 'partials/_navbar.html'%}

    {% block content %} {% endblock %}

    <!-- Footer -->
    {% include 'partials/_footer.html'%}


      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  
      <!-- Additional Scripts -->
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/owl.js' %}"></script>
</body>
</html>